:root {

    --prim_txt: rgb(230, 23, 23);
    --sec-txt: rgb(196, 200, 207);
    --darkbg: rgb(25, 28, 35);
    --boxgrey: #383a3d;
    --box_red: rgb(240, 70, 70);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;
    font-family: 'Lato', sans-serif !important;

}

body {
    width: 100vw;
    background-color: var(--darkbg);
}

body section {

    width: 100vw;
    height: auto;
    background-color: var(--darkbg);
    padding: 2rem 1rem !important;
}


/*------------- section 1 ---------------- */


/*          navigation bar         */

.section1 nav {

    padding: 0 !important;
    margin: 0 0 3rem !important;
    color: var(--prim_txt) !important;
}

.section1 nav .lg-logo-txt {

    width: 70%;
    font-size: 25px;
    font-weight: 600;
    color: var(--prim_txt) !important;
}

.section1 nav .lg-logo-txt .lg-txt {
    display: none;
}

.section1 nav .lg-logo-txt img {
    box-shadow: 2px 2px 5px 2px red, -2px -2px 5px 2px red;
}

.section1 nav button {
    border: none;
    outline: none;
}

#navbarNav {
    padding-top: 2rem;

}

#navbarNav ul li a {
    color: var(--prim_txt) !important;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;

}

#navbarNav ul .active a {

    background-color: rgba(230, 23, 23, 0.5);
    color: white !important;
}

/*     contact Section   */


.section1 .contact .content {
    padding: 1rem;
    margin: 3rem 0 3rem;
    border-radius: 20px;
    background-color: var(--boxgrey);
}

.section1 .contact .content h2 {

    color: var(--prim_txt);
    font-weight: bold;
}

.section1 .contact .content p {

    color: var(--sec-txt);
}

.section1 .contact .content p strong {

    color: var(--prim_txt);
}

.section1 .contact .social_links {
    padding: 1rem;
    margin-bottom: 3rem;
    width: 100%;
}

.section1 .contact .social_links h2 {
    padding: 1rem 0;
    color: var(--prim_txt);
}

.section1 .contact .social_links ul li a {
    margin: 10px 0 10px;
    color: var(--prim_txt) !important;
    font-size: 1.8rem;
    align-content: center;
    cursor: pointer;

}

.section1 .contact .social_links ul li a span {
    color: whitesmoke;
    margin-left: 1.5rem;
    font-size: 1rem;
}